extends layout

block header
	include header

block content
	#body-content
		.container
			.row
				// sidebar
				include sidebar
				// main content
				#main-content.col-md-9


					.container
						h2 #{category} 
						p Sort By: &nbsp
							a(href="/browse?category="+category+"&sort=price_asc") Price(Ascending)
							| &nbsp &nbsp
							a(href="/browse?category="+category+"&sort=price_desc") Price(Descending)
							| &nbsp &nbsp
							a(href="/browse?category="+category+"&sort=name") Name
						br
						each val, index in results
							.row
								.col-sm-6.col-md-4
									a(href="/product_details/" + val.listingId)
										.thumbnail
											if(val.imagesrc)
												img(src=val.imagesrc, height = "200", width="200")
											.caption
												h3 #{val.name}
												p $#{val.price}
													
						
					