extends layout

block header
	include header

block content
	#body-content
		.container
			.row
				// sidebar
				include sidebar
				// main content
				#main-content.col-md-9


					.container
						h2 #{category}
						each val, index in results
							.row
								.col-sm-6.col-md-4
									a(href="/product_details/" + val.listingId)
										.thumbnail
											img(src=val.imagesrc, height = "200", width="200")
											.caption
												h3 #{val.name}
												p $#{val.price}
													
						
					