//
   Created by lucas on 13/05/16.

header.header-content(data-stick='true', style='')
    .header-container
        .top-bar.hidden-xs
            .container
                .row
                    .top-bar-left.col-md-4.col-sm-4.col-xs-12
                        ul.top-bar-list
                            li.customer-checkout
                                a(href='/checkout')
                                    span Checkout
                            li
                                a#registration
                            li
                                a#log-in
                    .top-bar-info.col-md-4.col-sm-4.col-xs-12
                        i.fa.fa-map-marker
                        |           Kelburn, Wellington, New Zealand
        .header-main
            .container
                .row
                    .header-logo.col-md-3.col-sm-12.hidden-xs
                        a.logo-site(href='/', title='Go L Y')
                            img.logo(src='../images/logo.png', alt='Go L Y')
                    .header-other.col-lg-9.col-md-9.col-sm-12
                        .searchbox
                            form#search.navbar-form.search(action='/search', method='get')
                                //input(type='hidden', name='type', value='product')
                                input#bc-product-search.form-control(type='text', name='searchTerm', placeholder='Search', autocomplete='off')
                                button.search-icon(type='submit')
                            #result-ajax-search.hidden-xs
                                ul.search-results
                        script.
                            $().ready(function () {
                                if (document.getElementById('bc-product-search').value!=null) {
                                    document.getElementById('search').action = '/search'+document.getElementById('bc-product-search').value;
                                }
                            });
                        .header-text-widget.hidden-xs
                            .widget-description
                                i.fa.fa-phone
                                span.text-1 Technical Support
                                span.text-2 Call: +64 22 345 6789
                        .top-cart-holder
                            .cart-target
                                a.basket.cart-toggle(href='#', title='cart')
                                    span.number
                                        span.n-item 0
                                        span.item  item(s)
                                        |  - $0.00
            .horizontal-menu-wrapper
                .container
                    .horizontal-menu.dropdown-fix
                        .sidemenu-holder
                            .navigation
                                nav.navbar
                                    .collapse.navbar-collapse
                                        ul.main-nav
                                            li
                                                a(href='/')
                                                    span Home
                                            li
                                                a(href='#')
                                                    span About us
                                            li.dropdown
                                                a.dropdown-link(href='#')
                                                    span Categories
                                                span.expand
                                                    i.fa.fa-angle-down.hidden-xs.hidden-sm
                                                    i.fa.fa-plus.visible-xs.visible-sm
                                                ul.dropdown-menu
                                                    li
                                                        a(tabindex='-1', href='/browse?category=Auto')
                                                            span Auto
                                                    li
                                                        a(tabindex='-1', href='/browse?category=Books')
                                                            span Books
                                                    li
                                                        a(tabindex='-1', href='/browse?category=Furniture')
                                                            span Furniture
                                                    li
                                                        a(tabindex='-1', href='/browse?category=Games')
                                                            span Games
                                                    li
                                                        a(tabindex='-1', href='/browse?category=Kitchen')
                                                            span Kitchen
                                                    li
                                                        a(tabindex='-1', href='/browse?category=Tech')
                                                            span Tech
                                            li#account.dropdown
                                                a.dropdown-link(href='#')
                                                    span#accountcontent
                                                span.expand
                                                    i.fa.fa-angle-down.hidden-xs.hidden-sm
                                                    i.fa.fa-plus.visible-xs.visible-sm
                                                ul.dropdown-menu
                                                    li
                                                        a(tabindex='-1', href='/listing_page')
                                                                span List an item
                                                    li
                                                        a(tabindex='-1', href='/account_items?account_id=99&type=current')
                                                            span Current Listings
                                                    li
                                                        a(tabindex='-1', href='/account_items?account_id=99&type=sold')
                                                            span Sold Items
                                                    li
                                                        a(tabindex='-1', href='/account_items?account_id=99&type=bought')
                                                            span Bought Items
                                            script.
                                                $().ready(function(){
                                                    var account_id = sessionStorage.getItem('userid');
                                                    if (sessionStorage.getItem('username')) {
                                                        document.getElementById('account').style.visibility = 'visible';
                                                        document.getElementById('accountcontent').innerHTML='Account #' + sessionStorage.getItem('userid');
                                                    } else {
                                                        document.getElementById('account').style.visibility = 'hidden';
                                                    }
                                                });
