extends layout

block header
    include header

block content
    #body-content
        .container
            .row
                // sidebar
                include sidebar
                // main content
                #main-content.col-md-9
                    // Begin Slideshow
                    .home-slideshow-wrapper.swiper-container.swiper-container-horizontal.swiper-container-fade
                        #home-slideshow.swiper-wrapper
                            .swiper-slide
                                img(src='/images/banner1.jpg', alt='')
                                .swiper-content.text-right.slide-1
                                    .container-box-outer
                                        .container-box
                                            .heading
                                                | Stainless Mugs
                                            .subheading
                                                span from:
                                                | $59.99
                                            .caption-content.hidden-xs
                                                | It comes with a stainless steel vacuum insulation that keeps beverages hotter or colder than travel mugs.
                                            .caption-link
                                                button.btn.btn-custom.slider-button(type='button', onclick="window.location='#'") View Collection
                            .swiper-slide
                                img(src='/images/banner2.jpg', alt='')
                                .swiper-content.text-left.slide-2
                                    .container-box-outer
                                        .container-box
                                            .heading
                                                | Stainless
                                                br
                                                | Mugs
                                            .subheading
                                                span from:
                                                | $59.99
                                            .caption-content.hidden-xs
                                                | It comes with a stainless steel vacuum insulation that keeps beverages hotter or colder than travel mugs.
                                            .caption-link
                                                button.btn.btn-custom.slider-button(type='button', onclick="window.location='#'") View Collection
                            .swiper-slide
                                img(src='/images/banner3.jpg', alt='')
                                .swiper-content.text-right.slide-3
                                    .container-box-outer
                                        .container-box
                                            .heading
                                                | Stainless Mugs
                                                br
                                                span(style='color: #ff7850; font-size: 50px') Big Sale !
                                            .subheading
                                                span from:
                                                | $29.99
                                            .caption-content.hidden-xs
                                                | It comes with a stainless steel vacuum insulation that keeps beverages hotter or colder than travel mugs.
                                            .caption-link
                                                button.btn.btn-custom.slider-button(type='button', onclick="window.location='#'") View Collection
                    script.
                        $('#home-slideshow').owlCarousel({
                            nav: true,
                            dots: true,
                            items: 1,
                            navText: ['<i class="fa fa-angle-left" title="previous"></i>', '<i class="fa fa-angle-right" title="Next"></i>']
                        })
                    // End Slideshow
                    .main-content
                        #home-main-content
                            // Begin Top Banner
                            #home-top-banner
                                .row.hidden-xs
                                    .col-sm-12
                                        .figure.top-banner-1
                                            img(src='//cdn.shopify.com/s/files/1/1291/1283/t/2/assets/top_banner_1.jpg?7556602907759554530', alt='')
                                            .figcaption
                                                .banner-content.center
                                                    p Get 20% discount on orders over $300
                                            a.tb-button-1(href='#') VIEW DETAILS
                                .row
                                    .col-xs-12.col-sm-6
                                        .figure.top-banner.top-banner-2
                                            img(src='//cdn.shopify.com/s/files/1/1291/1283/t/2/assets/top_banner_2.jpg?7556602907759554530', alt='')
                                            .figcaption
                                                .banner-content.left
                                                    p New Collection
                                            a.tb-button(href='#') Check!
                                    .col-xs-12.col-sm-6
                                        .figure.top-banner.top-banner-3
                                            img(src='//cdn.shopify.com/s/files/1/1291/1283/t/2/assets/top_banner_3.jpg?7556602907759554530', alt='')
                                            .figcaption
                                                .banner-content.left
                                                    p Clearance Sale
                                            a.tb-button(href='#') Shop Now
                            // End Top Banner
                            // Begin Products
                            // End Products
                            // Begin Banner
                            #home-banner.hidden-xs.hidden-sm
                                .figure.home-banner
                                    img(src='//cdn.shopify.com/s/files/1/1291/1283/t/2/assets/home_banner.png?7556602907759554530', alt='')
                                    .figcaption
                                        .banner-content
                                            p Shop featured collection
                                            p
                                                | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                                    a.hb-button(href='#') shop now
                            // End Banner
                // End Main Content

block footer