extends layout

block header
    include header

block content
    #body-content
        .container
            .row
                // sidebar
                include sidebar
                // main content
                #main-content.col-md-9
                    //homepage slider
                    include homepage_slider
                    .main-content
                        #home-main-content
                            // Begin Top Banner
                            #home-top-banner
                                .row.hidden-xs
                                    .col-sm-12
                                        .figure.top-banner-1
                                            img(src='//cdn.shopify.com/s/files/1/1291/1283/t/2/assets/top_banner_1.jpg?7556602907759554530', alt='')
                                            .figcaption
                                                .banner-content.center
                                                    p Get 20% discount on orders over $300
                                            a.tb-button-1(href='#') VIEW DETAILS
                                .row
                                    .col-xs-12.col-sm-6
                                        .figure.top-banner.top-banner-2
                                            img(src='//cdn.shopify.com/s/files/1/1291/1283/t/2/assets/top_banner_2.jpg?7556602907759554530', alt='')
                                            .figcaption
                                                .banner-content.left
                                                    p New Collection
                                            a.tb-button(href='#') Check!
                                    .col-xs-12.col-sm-6
                                        .figure.top-banner.top-banner-3
                                            img(src='//cdn.shopify.com/s/files/1/1291/1283/t/2/assets/top_banner_3.jpg?7556602907759554530', alt='')
                                            .figcaption
                                                .banner-content.left
                                                    p Clearance Sale
                                            a.tb-button(href='#') Shop Now
                            // End Top Banner
                            // Begin Products
                            // End Products
                            // Begin Banner
                            #home-banner.hidden-xs.hidden-sm
                                .figure.home-banner
                                    img(src='//cdn.shopify.com/s/files/1/1291/1283/t/2/assets/home_banner.png?7556602907759554530', alt='')
                                    .figcaption
                                        .banner-content
                                            p Shop featured collection
                                            p
                                                | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                                    a.hb-button(href='#') shop now
                            // End Banner
                // End Main Content

block footer