doctype html
html
    head
        title= title

        //import bootstrap
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/owl.carousel.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='/javascripts/owl.carousel.min.js')
        script(src='/javascripts/checkform.js')
        script(src='/javascripts/authentication.js')
        script(src='/javascripts/jquery.validate.js')

        //import local style.css
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        // begin Header
        block header
        // end Header

        // begin content
        block content
        // end content

        // begin footer
        block footer
        // end footer