extends layout

block header
	include header

block content
	#body-content
		.container
			.row
				// sidebar
				include sidebar
				// main content
				#main-content.col-md-9


					.container
						h2 Add listing for sale
						.form-group
							label(for='product_name') Product Name
							input#product_name.form-control(type='text')


							label(for='description') Product Description
							input#description.form-control(type='text')


							label(for='price') Price
							input#price.form-control(type='number')

							label(for='numItems') Number ot Items
							input#numItems.form-control(type='number')

							label(for='imageLink') Image link
							input#imageLink.form-control(type='text')

						.dropdown
							button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
								| Category
								span.caret
							ul.dropdown-menu
								li
									a(href='#') Auto
								li
									a(href='#') Furniture
								li
									a(href='#') Kitchen
								li
									a(href='#') Games
								li
									a(href='#') Tech
								li
									a(href='#') Books
						.div
							&nbsp
							&nbsp


						button.btn.btn-default(type='button') Submit



