extends layout

block header
	include header

block content
	#body-content
		.container
			.row
				// sidebar
				include sidebar
				// main content
				#main-content.col-md-9


					.container
						h2 Confirmation
						div
							&nbsp
							&nbsp
						p Your Listing has been successfully completed!
						div
							&nbsp
							&nbsp
						a(href='/product_details/' +id) View your listing now