extends layout

block header
    include header

block content
    #body-content
        .container
            .row
                include sidebar
                // main content
                #main-content.col-md-9
                    .container
                        table
                            thead
                                h1 Purchase complete!
                            tbody
                                p  You have bought the #{item_name}
