//
   Created by lucas on 13/05/16.

#left-column.col-md-3
    .left-column-container
        // categories
        .sb-categories.hidden-sm.hidden-xs
            .sb-widget
                h4.sb-title Categories
                ul
                    li
                        img(src='../images/fashions.jpg', alt='')
                        a(href='/catogeries/cato1') cato1
                        span (1)
                    li
                        img(src='../images/health.jpg', alt='')
                        a(href='/catogeries/cato2') cato2
                        span (1)
        // banner
        .sb-widget.sb-banner.hidden-xs.hidden-sm
            img(src='../images/sb_banner.jpg', alt='')
            p Wooden kitchen tools
            a.sb-button(href='#') shop now

        // special products
        .sb-special-products.hidden-xs.hidden-sm
            .sb-widget

        // featured products
        .sb-special-products.hidden-xs.hidden-sm
            .sb-widget

        // product type
        .sb-product-type.hidden-xs.hidden-sm
            .sb-widget
                h4.sb-title Brands
                .type-list
                    a(href='/catogeries/#', title='Go L Y') Go L Y