//
   Created by lucas on 13/05/16.

#left-column.col-md-3
    .left-column-container
        // categories
        .sb-categories.hidden-sm.hidden-xs
            .sb-widget
                h4.sb-title Categories
                ul
                    li
                        img(src='http://i.imgur.com/6XhHR75.jpg', alt='')
                        a(href='/browse?category=Auto') Auto
                        //span (1)
                    li
                        img(src='http://i.imgur.com/QL9kIt0.jpg', alt='')
                        a(href='/browse?category=Books') Books
                        //span (1)
                    li
                        img(src='http://i.imgur.com/gZeqTUV.jpg', alt='')
                        a(href='/browse?category=Furniture') Furniture
                        //span (1)
                    li
                        img(src='http://i.imgur.com/Yc56DXo.png', alt='')
                        a(href='/browse?category=Games') Games
                        //span (1)
                    li
                        img(src='http://i.imgur.com/bdnErST.jpg', alt='')
                        a(href='/browse?category=Kitchen') Kitchen
                        //span (1)
                    li
                        img(src='http://i.imgur.com/vrv50gi.jpg', alt='')
                        a(href='/browse?category=Tech') Tech
                        //span (1)
        // banner
        .sb-widget.sb-banner.hidden-xs.hidden-sm
            img(src='../images/sb_banner.jpg', alt='')
            p Wooden kitchen tools
            a.sb-button(href='#') shop now

        // special products
        .sb-special-products.hidden-xs.hidden-sm
            .sb-widget

        // featured products
        .sb-special-products.hidden-xs.hidden-sm
            .sb-widget

        // product type
        .sb-product-type.hidden-xs.hidden-sm
            .sb-widget
                h4.sb-title Brands
                .type-list
                    a(href='/catogeries/#', title='Go L Y') Go L Y